@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

body {
    background-color: #f7f7f7;
}
#hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(5,12,133,0.3398401596966911) 0%, rgba(8,78,59,0.39026032776391806) 100%), url(../images/hero1.jpg);
    background-size:cover; 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




#hero h1 {
    font-family: 'Poppins', sans-serif;
}

#hero p {
    font-family: 'roboto', sans-serif;
}
#hero a{
    font-family: roboto, sans-serif;
    text-decoration: none;
    color: beige;
    background-color: #860519;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px; 
    /* border-bottom: #5d0412 3px solid; */
    font-weight: bold;
    transition: all .3s ease-in-out;
} 

#hero a:hover {
    background-color: #670212;
}

#hero .download-icon {
    font-size: 20px;
    position: relative;
    top: 5px;
}

.navbar-dark {
    background-color: #16112d !important;
}

.nav-link {
    font-family: roboto, 'sans-serif';
}

.section-container {
    margin: 50px 0px; 
}

.section-container > h1  {
    font-family: poppins, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #333;
}

.about-info > p,
.about-info > h3 {
    font-family: roboto, sans-serif;
}
 


.my-skills {
    padding: 20px; 
    box-shadow: 0px 0px 10px rgb(143, 143, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.my-skills > img {
    width: 50px;
    height: 50px;
}

.my-skills > .progress {
    flex: 1;
    margin-left: 10px
}

.my-skills .progress-bar {
    background-color: yellowgreen;
}

.edu-info > h3 ,
.edu-info > p ,
.edu-info > h4 , 
.edu-info > h6 ,
.exp-info {
    text-align: center;
    font-family: roboto, sans-serif;
}

#company-info{
    float:right;
}

.project-image {
    position: relative;
    margin-bottom: 20px;
}

.project-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    display: none;
    text-align: center;

}

.project-overlay > p {
    font-family: poppins, sans-serif;
    margin: 0px;
    padding: 0px;
    margin-top: 24%;
    
}

.project-tech-tags {
    display: inline-block;
    background-color: #860519;
    padding: 3px 10px;
    font-size: 10px;
    font-family: roboto, sans-serif;
    margin: 0px 2px;
    border-radius: 3px;
} 

.project-link {
    display: inline-block;
    background-color: transparent;
    padding: 0px 10px;
    margin-top: 10px;
    border: 2px solid white;
    font-family: roboto, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border-radius: 10px;
}

.project-link:hover, 
.project-link:visited {
    color: white;
    text-decoration: none;
    background-color: #000;

}

.project {
    display: none;
}

.project.active {
    display: block;
}

.project-type{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
    
}

.project-type li a {
    display: block;
    padding: 5px 20px;
    background-color: #ededed;
    border:1px solid #ccc;
    margin: 5px;
    color: #666;
    text-decoration: none;
    cursor:pointer;
    border-radius: 20px;
    font-family: roboto, 'sans-serif';
}

.project-type li a.active {
    color: #fff;
    background-color: #860519;
}